// Colors

$white: #FDF8F2;  
$black: rgba(30, 30, 30, 0.435);
$orange: #E8502B;
$green: #5AB684;
$teal: #00ABBD;
$site-color-body: #4A4A4A;
$site-color-body-light: rgba(74/255, 74/255, 74/255, .8);
$site-color-footer: #ffffff;
$site-color-nav: #ffffff;
$site-color-nav-links: #6E7274;



// Fonts
$primaryfont:  'Space Grotesk', sans-serif;
$secondaryfont: 'Courier New', Courier, monospace;
$site-font-family-icon: 'Material Icons';


// Layout
$site-header-height: 66px;
$site-content-top-padding: 40px;
$site-content-max-width: 960px;